@model IEnumerable<CourseWorkFactoryAutomatization.Models.Technic>

@{
    ViewData["Title"] = "GetTechnics";
    Layout = "_Layout_SuperVisor";
}

<h1>GetTechnics</h1>

<p>
    <a asp-action="CreateTechnic">Ввести технику в эксплуатацию</a>
</p>
<p>
    <a asp-action="TechExpenses">Расход деталей на вид техники</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TechnicManual)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <th>
                    @Html.DisplayFor(modelItem => item.TechnicManualId)
            </th>
            <td>
                <a asp-action="EditTechnic" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="InfoTechnics" asp-route-id="@item.Id">Инфо</a> |
                <a asp-action="DeleteTechnic" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
