@model CourseWorkFactoryAutomatization.Models.Technic

@{
    ViewData["Title"] = "InfoTechnics";
    Layout = "_Layout_SuperVisor";
}

<h1>Детальная информация</h1>

<div>
    <h4>Technic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditTechnic" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="GetTechnics">Back to List</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Cost
            </th>
            <th>
                TechnicId
            </th>
            <th>
                Technic
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @item.Technic.Id
                </td>
                <td>
                    @item.Technic.Title
                </td>
            </tr>
        }
    </tbody>
</table>
