@model IEnumerable<CourseWorkFactoryAutomatization.Models.TechnicManual>

@{
    ViewData["Title"] = "GetTechnicManuals";
    Layout = "_Layout_SuperVisor";
}

<h1>Общий список каталогов техники</h1>

<p>
    <a asp-action="CreateTechnicManual">Создать новый каталог</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                    <a asp-action="EditTechnicManual" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="InfoTechnicManual" asp-route-id="@item.Id">Инфо</a> |
                    <a asp-action="DeleteTechnicManual" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
