@model IEnumerable<CourseWorkFactoryAutomatization.Models.DetailCatalog>

@{
    ViewData["Title"] = "GetDetailCatalogs";
}

<h1>GetDetailCatalogs</h1>

<p>
    <a asp-action="CreateDetailCatalog">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                <a asp-action="EditDetailCatalog" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="InfoDetailCatalog" asp-route-id="@item.Id">Info</a> |
                <a asp-action="DeleteDetailCatalog" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>




