@model CourseWorkFactoryAutomatization.Models.DetailCatalog

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout_Accountant";
}

<h1>Каталог деталей</h1>

<div>
    <h4>Детальная информация</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDetailCatalog" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="GetDetailCatalogs">Назад к общему списку</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Cost
            </th>
            <th>
                TechnicId
            </th>
            <th>
                Technic
            </th>
            <th>
                DetailCatalog
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Details)
        {
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Cost
                </td>
                <td>
                    @item.Technic.Id
                </td>
                <td>
                    @item.Technic.Title
                </td>
                <td>
                    @item.DetailCatalog.Id
                </td>
            </tr>
        }
    </tbody>
</table>
