@model IEnumerable<CourseWorkFactoryAutomatization.Models.Detail>

@{
    ViewData["Title"] = "GetDetails";
}

<h1>GetDetails</h1>

<p>
    <a asp-action="CreateDetail">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technic.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technic.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DetailCatalog)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technic.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technic.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetailCatalog.Id)
            </td>
            <td>
                <a asp-action="EditDetail" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="InfoDetails" asp-route-id="@item.Id">Info</a> |
                <a asp-action="DeleteDetail" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
