@model CourseWorkFactoryAutomatization.Models.Detail

@{
    ViewData["Title"] = "InfoDetails";
    Layout = "_Layout_Accountant";
}

<h1>Детальная информация</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Technic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Technic.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DetailCatalog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DetailCatalog.DateCreate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditDetail" asp-route-id="@Model?.Id">Отредактировать данные</a> |
    <a asp-action="GetDetails">Назад к общему списку</a>
</div>